.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.DS_store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### jenv ###
.java-version

bin/
