body {
    background-color: #62d5ed;
    padding: 0 50px 20px;
}

h1 {
    font-size: 50pt;
    font-weight: bold;
    font-family: "Roboto Condensed";
    color: #222e5a;
    margin-bottom: 0;
}

#map {
    height: 600px;
}